@media screen and (max-width: 800px) {
  * {
    margin: 0px;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
  }

  header {
    display: none;
  }

  /* Mobile menu */
  #menu-mobile {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
  }

  /* Top Banner Mobile */
  #banner-container {
    display: none;
  }

  #banner-container-mobile {
    display: flex;
    top: 0px;
    font-size: 24px;
    flex-direction: column;
    padding-top: 64px;
    background-color: #d7d7d7;
  }

  #banner-container-mobile img {
    width: 100%;
  }

  #banner-container-mobile #banner-mobile-text {
    width: 100%;
    margin: 8px 0px 0px;
  }

  #banner-container-mobile #banner-mobile-text h1 {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    font-size: 1.75rem;
    font-weight: 750;
  }

  #banner-container-mobile #banner-mobile-text p {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  #banner-container-mobile > #banner-mobile-text > button {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: block;
    width: calc(100% - 32px);
    color: white;
    background-color: #4a4a4a;
    border: unset;
    padding: 8px 0px;
    font-size: 1rem;
    font-weight: 700;
  }

  /* Information Mobile */
  #content {
    display: none;
  }

  #content-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: #d7d7d7 2px solid;
  }

  #content-mobile img {
    width: 100%-32px;
    margin: 16px 16px 0px;
    text-align: center;
    max-width: 700px;
  }

  .content-mobile-text {
    padding: 32px 16px 24px 16px;
    margin: 0px 16px;
  }

  .content-mobile-text p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  /* Start learning Mobile */
  #start-learning {
    display: none;
  }

  #start-learning-mobile {
    display: block;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: #d7d7d7 2px solid;
  }

  #start-learning-mobile h1 {
    font-size: 2rem;
    text-align: center;
    margin: 32px auto 16px;
  }

  #start-learning-mobile p {
    font-size: 1.25rem;
    text-align: left;
    background-color: #d8d8d8;
    padding: 16px 16px 24px 16px;
    margin: 0px 16px 8px 16px;
    font-weight: 600;
  }

  /* Thesis Mobile */
  #thesis {
    display: none;
  }

  .thesis-title {
    display: none;
  }

  #thesis-mobile {
    display: block;
    padding-bottom: 24px;
  }

  #thesis-mobile h1 {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 2rem;
  }

  /* Footer */
  #term {
    display: none;
  }

  #commercial {
    font-size: 0.75rem;
    min-width: none;
  }
}
